@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}
